.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-card {
  width: 400px;
}

.full-width {
  width: 100%;
}

.register-title {
  text-align: center;
}
