<div class="container mt-4">
  <h2>Movies</h2>
  <div class="row">
    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let movie of movies"
    >
      <mat-card class="mat-elevation-z8 movie-card">
        <div class="image-container">
          <img
            [src]="movie.poster_url"
            alt="{{ movie.title }}"
            class="movie-image"
          />
        </div>

        <div class="card-section">
          <strong>{{ movie.title }}</strong>
        </div>

        <div class="card-section description">
          <div class="description-text">
            {{ movie.description }}
          </div>
        </div>

        <div class="card-section">
          <strong
            >Release date -
            {{ movie.release_date | date : "yyyy-MM-dd" }}</strong
          >
        </div>

        <div class="card-section">
          <strong>Duration - {{ movie.duration_minutes }} minutes</strong>
        </div>

        <div class="card-section">
          <strong>Genres:</strong>
          <span *ngFor="let genre of movie.genres; let i = index">
            {{ genre.genre_name
            }}<span *ngIf="i < movie.genres.length - 1">, </span>
          </span>
        </div>

        <div class="card-section">
          <strong>Cast:</strong>
          <span *ngFor="let actor of movie.actors; let i = index">
            {{ actor.name }}<span *ngIf="i < movie.genres.length - 1">, </span>
          </span>
        </div>

        <div class="card-section">
          <strong
            >Ratings - {{ movie.rating ? movie.rating : "Not Rated" }}</strong
          >
        </div>
      </mat-card>
    </div>
  </div>
</div>
